<div class="columns is-gapless">

  <!-- Form section -->
  <div class="column is-6">
    <div class="hero">

      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">

              <!-- Get contacted form -->

              <form action="https://www.agilox.net/en/kontakt" method="POST" class="">
                <div id="contacted-form" class="login-form animated preFadeInLeft fadeInLeft">
                  <div class="field pb-10">
                    <div class="control has-icons-right">
                      <input class="input is-primary-focus is-medium" type="text" placeholder="Full name *" name="name"
                        value="">
                      <span class="icon is-medium is-right">
                        <i class="sl sl-icon-user"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field pb-10">
                    <div class="control has-icons-right">
                      <input class="input is-primary-focus is-medium" type="email" placeholder="Email address *"
                        name="email" value="">
                      <span class="icon is-medium is-right">
                        <i class="sl sl-icon-envelope-open"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field pb-10">
                    <div class="control has-icons-right">
                      <input class="input is-primary-focus is-medium" type="text" placeholder="Country/Region"
                        name="countryRegion" title="Country or region help us to make targeted contact" value="">
                      <span class="icon is-medium is-right">
                        <i class="sl sl-icon-location"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field pb-10">
                    <small class="has-text-grey-light ">
                      Would you like to be contacted by phone? </small>
                    <div class="control has-icons-right">
                      <input class="input is-primary-focus is-medium" type="tel" placeholder="Phone" name="phone"
                        value="">
                      <span class="icon is-medium is-right">
                        <i class="sl sl-icon-call-in"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field pb-10">
                    <div class="control has-icons-right">
                      <textarea class="textarea is-primary-focus" rows="5" placeholder="What can we do for you?"
                        name="message"></textarea>
                      <span class="icon is-medium is-right">
                        <i class="sl sl-icon-bag"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field pb-10">
                    <div class="b-checkbox is-primary">
                      <input class="styled is-medium" id="checkbox01" type="checkbox" name="confirm" value="true">
                      <label for="checkbox01" class="has-text-grey-light has-text-justified"><small>I agree that my data
                          from the contact form are raised and processed to the answer of my request.

                          The data will be deleted after your request has been processed.</small>
                      </label>
                    </div>
                  </div>

                  <p class="control login">
                    <button type="submit" value="Submit"
                      class="button button-cta secondary-btn btn-align-lg btn-outlined is-bold is-fullwidth rounded raised no-lh">
                      Send Inquiry </button>
                  </p>
                </div>
                <input type="hidden" name="csrf_token"
                  value="3a3d4ee88c1ad4a3891a5864e17ac57ff8879d5f82609cb8a94f05ee7a28c47d">

              </form>
              <!-- /Get contacted form -->

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Form section -->
  <!-- Image section (hidden on mobile) -->
  <div class="column login-column is-6 is-hidden-mobile hero-banner">
    <div class="hero is-cover signup-hero is-fullheight has-background-image">
      <div class="hero-footer">
        <p class="has-text-centered"></p>
      </div>
    </div>
  </div>
  <!-- /Image section -->

</div>
